<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<script type = "text/javascript">
    $(document).ready(function(){                                                
        $.getJSON('/json_list/', function(json){                
            $.each(json, function(key, value){ 
                if (value[0].pa != undefined) {                      
                    $("#pa_balance").append("<li>"+"payment = "+value[0].pa+"</li>")
                       .append("<li>"+"balance = "+value[0].balance+"</li>"); 
                }       
            }); 
        });                
        
        $.getJSON('/json_list/', function(json){                
            for(var i=0; i<json.data[0].payment_list.length; i++)                
                $("#payments_list").append(
                    "<li>"+"id: "+json.data[0].payment_list[i].id+
                           ", number: "+json.data[0].payment_list[i].number+
                           ", date: "+json.data[0].payment_list[i].date+
                           ", sum: "+json.data[0].payment_list[i].sum+"</li>"); 
        });        
        
        $.getJSON('/json_list/', function(json){ 
            for(var i=0; i<json.data[0].charge_list.length; i++)                
                $("#balance_list").append(
                    "<li>"+"id: "+json.data[0].charge_list[i].id+
                           ", number: "+json.data[0].charge_list[i].number+
                           ", date: "+json.data[0].charge_list[i].date+
                           ", sum: "+json.data[0].charge_list[i].sum+"</li>");                                      
        });

        $("#payments").click(function(){
          $("#payments_list").fadeToggle();
        });

        $("#balance").click(function(){
          $("#balance_list").fadeToggle();
        });
    });
</script>

<ul id="pa_balance"></ul>
<p><a id="payments" href="#">Платежи</a></p>
<ul id="payments_list" style="display: none;"></ul>
<p><a id="balance" href="#">Счета</a></p>
<ul id="balance_list" style="display: none;"></ul>
